<div class="mb-5">
    <h1>Date: <%= Date.today.to_date %></h1>
    <p>City: <%= @responsec[:location]['name'] %></p>
    <p>Country: <%= @responsec[:location]['country'] %></p>
    <% if params[:date] == Date.today.to_s %>
        <p>Temperature: <%= @responsec[:current]['temp_c'].ceil %> 째C</p>
    <% else %>
        <p>Max: <%= @responseh[:forecast]['forecastday'][0]['day']['maxtemp_c'].ceil %> 째C</p>
        <p>Min: <%= @responseh[:forecast]['forecastday'][0]['day']['mintemp_c'].ceil %> 째C</p>
    <% end %>
    <img src=<%= @responseh[:forecast]['forecastday'][0]['day']['condition']['icon'] %>>    
</div>

<div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Hour</th>
                <th scope="col">Temperature</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% day = @responseh[:forecast]['forecastday'][0]['hour'] %>
            <% for i in 0..day.length-1 do %>
                <% hour = day[i]['time'] %>
                <% hour.slice!(params[:date]) %>
                <% temp = day[i]['temp_c'].ceil %>
                <% image = day[i]['condition']['icon']%>
                <tr>
                    <td><%= hour %></td>
                    <td><%= temp %>째C</td>
                    <td><img src=<%= image %>></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
