<%= form_with url: "/locations", method: :post do |form| %>
  <div>
    <%= form.label :name, "Search for:", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :date, "Select a a date:", style: "display: block" %>
    <%= form.date_field :date %>
  </div>
    <%= form.submit "Search" %>
<% end %>