<%= form_with url: "/locations", method: :post do |form| %>
  <div class="col-md-3 mb-3 mt-5 mx-auto">
    <%= form.label :name, "Search for:", style: "display: block" %>
    <%= form.text_field :name %>

    <%= form.label :date, "Select a date:", style: "display: block" %>
    <%= form.date_field :date %>

    <%= form.submit "Search" , class:"btn btn-primary"%>
  </div>
<% end %>